
p {
    font-size: 6vmin;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    color: white;
}

a{
    color: white;
    padding: 3px;
    font-size: 110%;
    margin-top: 200%;
}

h1{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    color: white;
}

.details{
    border: 5px solid #2f3656;
    background: #161621;
    padding: 3%;
    margin-left: 2%;
    width: 93%;
}

#comments_container{
    border: 5px solid #2f3656;
    background: #232348;
    padding: 2%;
    margin-bottom: 5px;
}

#title{
    display:inline;
}
#small{
    font-size: 50%;
    margin-top: 2px;
}

#textdetail{
    font-size: 100%;
}

#commenters{
    padding: 2%;
    color: white;
    margin-top: 2px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    border: 3px solid #2f3656;
}

.posted:hover {
    box-shadow: 0 0 20px 1px rgba(0, 140, 186, 0.5);
    cursor: pointer;
}

.displayed_post {
    border: 3px solid #2f3656;
    margin-bottom: 5%;
    padding: 3%;
    color: white;
    background: #161621;
    font-family: sans-serif;
}

#status_message{
    color: white;
    text-align: center;
}



#loader {
    background-color: #010011;
    border: 3px solid #2f3656;
    margin-top: 3px;
    border-radius: 8px;
    color: #e7e7e7;
    font-size: 16px;
    height: 48px;
    width: 100%;
    position: relative;
    text-align: center;

}




input[type=text]{
    padding-left:2%;
    width: 65%;
    height: 20px;
    border-radius: 20px;
    border: 3px solid #7e88b4;
    font-size: 15px;
    margin-bottom: 5px;

}

input[type=password]{
    padding-left:2%;
    width: 65%;
    height: 20px;
    border-radius: 20px;
    border: 3px solid #7e88b4;
    font-size: 15px;
    margin-bottom: 5px;

}
input[type=checkbox]{
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
}

input[type=submit]{
    width: 50%;
    background-color: #00061c;
    border-radius: 20px;
    border: 3px solid #7e88b4;
    color: white;
    font-size: 30px;
}

#scrollingElement {
    border: 3px solid #2f3656;
    background-color: rgb(85, 108, 201);
    width:95%;
    font-size: 30px;
    margin-left: 2.5%;
    padding: 2%;
}

h1 {
    padding-left: 3%;
    margin:0;
}


.nav_bar {
    padding: 2%;
    width:100%;
    background-color: rgb(0, 6, 63);
    font-size:6vmin;
    box-sizing: border-box;
    border-bottom: 1vmin solid rgb(33, 43, 140);
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
}

.content{
    width:90%;
}

.content_container {
    width:100vw;
    height:100vh;
    display:none;
}

#li_form{
    padding-left: 2%;
    margin-left: 3%;
    background-color: rgb(36, 46, 87);
    border: 3px solid #4d5686;
    width: 87%;
}

#ca_form{
    padding-left: 2%;
    margin-left: 3%;
    background-color: rgb(36, 46, 87);
    border: 3px solid #4d5686;
    width: 87%;
}

.content {
    width:95%;
    height:100%;
    display:none;
    font-size:4vmin;
}


#username_free_checkmark {
    color:green;
    font-weight:bold;
    visibility:hidden;
}

body{
    background-color: #000315;
    width: 100%;
    font-family: sans-serif;
    padding-top: 13%;
}

#mp_form{
    margin-left: 3%;
    padding-left: 2%;
    background-color: rgb(36, 46, 87);
    border: 3px solid #4d5686;
    width: 87%;
}
