h1,.displayed_post > p, .displayed_post_details > p {
  margin:0;
}

body {
  margin:0;
  font-size:6vmin;
  font-family:sans-serif;
}

input[type=checkbox] {
  width:5vmin;
  height:5vmin;
}

.nav_bar {
  width:100%;
  height:10%;
  background-color:rgba(255,0,128);
  font-size:6vmin;
  box-sizing: border-box;
  border-bottom: 1.5vmin solid rgba(158,0,79);
}

.content_container {
  width:100vw;
  height:100vh;
  display:none;
}

.content {
  width:100%;
  height:100%;
  display:none;
  position:relative;
}

#username_free_checkmark {
  color:green;
  font-weight:bold;
  visibility:hidden;
}

#scrollingElement, #post_details_display {
  box-sizing:border-box;
  height:90%;
  overflow-y: scroll;
  padding:0 4% 4% 4%;
  background-color:red;
}

img {
  width:100%;
}

.displayed_post, .displayed_post_details {
  background: white;
  padding:2vmin;
  margin:8vmin 0;
}

#newPopup {
  position:absolute;
  top:10vh;
  width:80%;
  margin:5% 10%;
  display:none;
  padding:2%;
  text-align:center;
  background-color:blue;
  color:white;
  box-sizing: border-box;
  border:1vmin solid #40A0ff;
}
